/* ================== */
/*   HELPER CLASSES   */
/* ================== */
/* ================== */
/*   MIXINS   */
/* ================== */
/* ======== */
/*   HTML   */
/* ========= */
html {
  font-size: 16px;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

a {
  cursor: pointer;
  color: #28536b;
  text-decoration: underline;
}

/* ======== */
/*   BODY   */
/* ========= */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* =========== */
/*   HEADERS   */
/* =========== */
h1 {
  font-size: 3rem !important;
}

h1.hero {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h2.hero {
  font-size: 4rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

/* =========== */
/*   BUTTONS   */
/* =========== */
.button {
  padding: 0.5rem;
  background: none;
  background-color: transparent;
  color: #28536b;
  border: solid 1px #28536b;
  border-radius: 0.1rem;
  box-shadow: 0 18px 50px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s;
}
.button:hover, .button:focus {
  background-color: #b0d0e2;
}

.button-mdlg {
  font-size: 1.25rem;
}

.button-sm {
  padding: 0.25rem;
  font-size: 0.875rem;
}

/* ========== */
/*   INPUTS   */
/* ========== */
.input {
  display: block;
  padding: 0.5rem;
  background: none;
  border: solid 1px #eee;
  border-radius: 0.1rem;
  transition: border 0.1s;
  transition: outline-color 0.1s;
  transition: outline-style 0.1s;
  transition: outline-width 0.1s;
}
.input:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #28536b;
}

.input-full-width {
  width: 100%;
}

.input-block {
  display: block;
}

.input-label {
  margin-bottom: 1rem;
}

/* =========== */
/*   SPACING   */
/* =========== */
.m-t-sm {
  margin-top: 0.5rem;
}

.m-t-md {
  margin-top: 1rem;
}

.m-t-lg {
  margin-top: 1rem;
}

.m-h-sm {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.alert {
  display: none;
}

.content {
  margin: 1rem;
  display: flex;
  justify-content: center;
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  min-width: 22rem;
  padding: 1rem 2rem;
}
@media only screen and (min-width: 420px) {
  .page {
    padding: 1rem 4rem;
    max-width: 46rem;
    box-shadow: 0 18px 50px -10px rgba(0, 0, 0, 0.2);
  }
}

.header {
  width: 100%;
  background-color: #28536b;
  padding: 1rem;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}

.centered {
  text-align: center;
}

.notifications {
  position: fixed;
  top: 0rem;
  right: 1rem;
}

.notification {
  z-index: 300;
  border: solid 2px;
  border-radius: 0.25rem;
  min-height: 2rem;
  min-width: 5rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
}

.notification.error {
  border-color: #e74817;
  color: #e74817;
}

.notification.info {
  border-color: #28536b;
  color: #28536b;
}

.notification.success {
  border-color: #4bb543;
  color: #4bb543;
}

.choice-list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.choice-list .choice {
  flex: 0 0 100%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.choice-list .choice input {
  margin-right: 0.5rem;
}

.poll-form {
  margin: 1rem;
  max-width: 20rem;
}

.new-choice-holder {
  margin-top: 1rem;
}

.save-holder {
  margin-top: 2rem;
}

.link-holder {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-bottom: solid 1px #eee;
}

.remove-choice-list {
  width: 100%;
  margin-top: 1rem;
}
.remove-choice-list .remove-choice {
  flex: 1 0 5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.remove-choice-list .remove-choice button {
  margin-right: 0.5rem;
}

.take-poll-choice-list {
  min-width: 15rem;
}

.take-choice {
  flex: 0 0 100%;
  padding: 0.25rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.take-choice .take-choice-number {
  flex: 0 0 0.5rem;
  font-weight: 800;
  margin-right: 0.5rem;
}
.take-choice .take-choice-draggable {
  flex: 1 1 auto;
}
.take-choice .take-choice-draggable .take-choice-draggable-inner {
  padding: 0 0.5rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  cursor: grab;
  border: solid 1px #eee;
  border-radius: 0.25rem;
}
.take-choice .take-choice-draggable .take-choice-draggable-inner .take-choice-text {
  flex: 1 1 auto;
}
.take-choice .take-choice-draggable .take-choice-draggable-inner .take-choice-btn {
  flex: 0 0 2rem;
}

.responses-holder {
  margin-top: 1rem;
  border-top: solid 1px #eee;
}

.results-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyable-link {
  border-radius: 0.25rem;
  background-color: #eee;
  padding: 0.5rem;
  cursor: pointer;
}

.copied {
  font-size: 0.875rem;
  color: #4bb543;
}

/*# sourceMappingURL=/app.css.map */