.content {
  display: flex;
  justify-content: center;
  margin: $spacing-md;
  @include fade-in;
}

.page {
  padding: $spacing-md $spacing-xl;
  min-width: 22rem;
  max-width: 46rem;
  @include floating;
}

.header {
  width: 100%;
  background-color: $color-primary;
  padding: $spacing-md;
  font-size: $font-size-mdlg;
  color: $white;
  cursor: pointer;
}
