.content {
  margin: $spacing-md;

  display: flex;
  justify-content: center;
  @include fade-in;
}

.page {
  min-width: 22rem;
  padding: $spacing-md $spacing-lg;

  @include tablet-or-desktop {
    padding: $spacing-md $spacing-xl;
    max-width: 46rem;
    @include floating;
  }
}

.header {
  width: 100%;
  background-color: $color-primary;
  padding: $spacing-md;
  font-size: $font-size-mdlg;
  color: $white;
  cursor: pointer;
}
