.copyable-link {
  border-radius: $border-radius-base;
  background-color: $gray-light;
  padding: $spacing-sm;
  cursor: pointer;
}

.copied {
  font-size: $font-size-sm;
  color: $color-success;
}

.checkbox {
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  input {
    transform: scale(1.2);
    margin: 0px $spacing-sm;
  }
}
