.responses-holder {
  margin-top: $spacing-md;
  border-top: solid $border-width-base $border-color-base;
}

.results-title {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.resuts-link-holder {
  border-top: solid $border-width-base $border-color-base;
}

.results-comment-name {
  font-weight: $font-weight-normal;
}
