.take-poll-choice-list {
  min-width: 15rem;
}

.take-choice {
  flex: 0 0 100%;
  padding: $spacing-xs;
  margin-top: $spacing-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  .take-choice-number {
    flex: 0 0 1.4rem;
    font-weight: $font-weight-bold;
    margin-right: $spacing-sm;
    text-align: right;
  }

  .take-choice-draggable {
    flex: 1 1 auto;

    .take-choice-draggable-inner {
      padding: 0 $spacing-sm;
      width: 100%;

      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;

      cursor: grab;
      @include bordered;

      .take-choice-text {
        flex: 1 1 auto;
      }

      .take-choice-btn {
        flex: 0 0 2rem;
      }
    }
  }
}
