.take-choice {
  @include bordered;
  padding: $spacing-xs;
  margin-top: $spacing-sm;

  width: 100%;
  cursor: grab;

  .take-choice-text {
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    flex: 1 1 auto;
  }

  .take-choice-btn {
    flex: 0 0 3rem;
  }
}

.take-poll-choice-list {
  width: 100%;
  min-width: 15rem;
}
